{%extends "base.html"%} {%block title%} My Tasks {% endblock %}

{%block content%}

<div class="card" style="margin: 25% auto">
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZCdCMBeLrZkJzcWy2g7j77L_UAFfCjzojBDOSBN_2zQ&s"
        class="img-fluid" alt="...">
    <h2 class="card-title">
        {{post.title}}
    </h2>
    <h3 class="card-subtitle">
        {{post.date}}
    </h3>
    <p class="card-text">
         {{post.content}}
    </p> 
    <a href="/" class="btn btn-return card-link">Return</i></a>
</div>  
{%endblock%}